<h1> My Books </h1>

<%= form_tag my_books_path, method: 'get' do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search" %>
		<% submit_tag "Search",  class: "search" %>
		<% end %>

<div class="my_book_wrapper">
    <% @my_books.each do |result|%>
    <div class="my_book_showness">
        <h2>I am a book I own!</h2>
        <img src="<%= result.edition.image %>">
        <%= result.edition.title %>
        <%= result.edition.author %>
        <%= result.edition.edition %>
        <%= result.edition.genre %>
        <%= result.edition.numberOfPages %>
        <%= result.edition.publisher %>
        <%= link_to "Show me my details", my_book_path(result)  %>

    </div>
    <%end%>

</div>
