<% @my_books.each do |result|%>
<div class="book_wrapper">
  <div class="book_cover">
    <img src="<%= result.edition.image %>">
  </div>
  <div class="buy">
    <a href="<%= result.edition.url %>"><button class="button_5">Buy Me!</button></a>
  </div>
  <div class="book_details">
    <h1><%= result.edition.title %></h1></br>
    <h2>by <%= result.edition.author %></h2></br>
    <h3><%= result.edition.numberOfPages %> pages</h3></br>
    <h4><%= result.edition.publisher %></h4></br>
  </div>
</div>
<% end %>
