<h1> My Books </h1>

<%= form_tag my_books_path, method: 'get' do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search" %>
		<% submit_tag "Search",  class: "search", :name => nil %>
		<% end %>

<div class="my_book_wrapper">
    <% @my_books.each do |result|%>
    <div class="my_book_showness">
        <h2>I am a book I own!</h2>
        <img src="<%= result.edition.image %>">
        <%= result.edition.title %>
        <%= result.edition.author %>
        <%= result.edition.edition %>
        <%= result.edition.genre %>
        <%= result.edition.numberOfPages %>
        <%= result.edition.publisher %>
        <a href="<%=@my_book.edition.url %>"><button>Buy Me!</button></a>


    <div class="create_review">
    <% @review = Review.new%>
    <%= form_for [result, @review] do |f| %>
      <div>
        <%= f.label :review %>
        <%= f.text_field :review %>
      </div>
      <div>
          <%= f.hidden_field :my_book_id, value: result.id %>
      </div>
      <div>
        <%= f.submit "Review"%>
      </div>
    <% end %>

    </div>

    <div class="review_box">
    <%result.reviews.each do |review|%>
    <%=review.review %>
    <%end%>
    </div>
</div>
<%end%>


</div>
