<h1>Hello, <%= @user.f_name %> <%= @user.l_name%> </h1>

<div class="my_book_wrapper">
    <%# @my_book.each do |result|%>
    <div class="my_book_showness">
        <h2>I am a book I own!</h2>
        <img src="<%= @my_book.edition.image %>">
        <%= @my_book.edition.title %>
        <%= @my_book.edition.author %>
        <%= @my_book.edition.edition %>
        <%= @my_book.edition.genre %>
        <%= @my_book.edition.numberOfPages %>
        <%= @my_book.edition.publisher %>
        <button action="<%= @my_book.edition.url %>">Buy Me Again, I'm a delicious read for friends</button>


    <div class="create_review">
    <% @review = Review.new%>
    <%= form_for [@my_book, @review] do |f| %>
      <div>
        <%= f.label :review %>
        <%= f.text_field :review %>
      </div>
      <div>
          <%= f.hidden_field :my_book_id, value: @my_book.id %>
      </div>
      <div>
        <%= f.submit "Review"%>
      </div>
    <% end %>

    </div>

    <div class="review_box">
    <%@my_book.reviews.each do |review|%>
    <%=review.review %>
    <%end%>
    </div>
</div>
