<div class="prog_statement">
  <h2>Track your reading progress:</h2>
  <input type="text" id="user_page"> of <%= @my_book.edition.numberOfPages %> pages
</div>

<div class="reading_progress">
  <div class="progress_track">

    <progress id="progressbar" max="<%= @my_book.edition.numberOfPages%>" value="0">
    </progress>
  </div>

</div>

<div class="book_wrapper">
  <div class="book_cover">
    <img src="<%= @my_book.edition.image %>">
  </div>
  <div class="book_details">
    <h1><%= @my_book.edition.title %></h1></br>
    <h2>by <%= @my_book.edition.author %></h2></br>
    <h3><%= @my_book.edition.numberOfPages %> pages</h3></br>
    <h4><%= @my_book.edition.publisher %></h4></br>
    <h4><%= @my_book.edition.edition %></h4></br>
    <h4><%= @my_book.edition.genre %></h4></br>
    <a href="<%= @my_book.edition.url %>"><button class="button_5">Buy Me!</button></a>
  </div>
</div>

<div class="rating_wrapper">
    <% if @rating == nil %>
        <h1>What rating would you give the book?</h1>
        <% @rating = Rating.new%>
        <%= form_for [@book, @rating] do |f| %>
          <% f.label :rating %>
          <div id="rating-form" >
          <label>Rating </label>
          </div>
          <%= f.hidden_field :book_id, value: @my_book.edition.book_id %>
          <div class="rating_submit">
            <%= f.submit "Add Rating"%>
          </div>
          <%end%>
    <%else%>
        <label>Your rating of the book</label>
        <div id="rating" data-score="<%= @rating.rating %>">
            <%#= @rating.rating %>

        </div>
    <%end%>
</div>
<script>
    (function() {
        $('#rating-form').raty({
            path: '/images/stars',
            scoreName: 'rating[rating]',
            // score: "1"
        });
    });
</script>
<script>
    (function() {
        $('#rating').raty({
            readOnly:true,
            score: function(){
                return $(this).attr('data-score');
            },
            path: '/images/stars'
        });
    });
</script>

<div class="review_wrapper">
  <div class="create_review">
    <h1>What did you think?</h1>
    <% @review = Review.new%>
    <%= form_for [@my_book, @review] do |f| %>
      <% f.label :review %>
      <%= f.text_area :review, placeholder: "Best book ever, or never-read-again?\n Make your notes here!" %>
      <%= f.hidden_field :my_book_id, value: @my_book.id %>
      <div class="review_submit">
        <%= f.submit "Add Review"%>
      </div>
      <% end %>
      </div>
  </div>

</div>
    <div class="lend_look">
    <% if @lend != nil && @lend.my_book_id == @my_book.id%>
        <%= @my_book.edition.title %> is currently lent out to  <%= @lend.friend %>
        <%=link_to "They Returned It", my_book_lend_path(params[:id]), method: :delete, data: {confirm: "Are you sure?"} %>
    <%else%>
        <%= link_to "Lend this book to a friend", new_my_book_lend_path(params[:id]) %>
    <%end%>
      <!-- <#% if @lend.friend  do%> -->

        <%#=link_to "They Returned It", my_book_lend_path(lend.my_book_id, lend.id), method: :delete, data: {confirm: "Are you sure?"} %>
        <!-- <#% end %> -->
      <%#else%>
        <%#= link_to "Lend this book to a friend", new_my_book_lend_path(lend.my_book_id, lend.id) %>
      <%#end%>
    </div>


  <div class="review_content">
    <ul>
      <%@my_book.reviews.each do |review|%>
        <li><%=emojify(review.review) %></li>
        <%=link_to "Edit Review", edit_my_book_review_path(review.my_book_id, review.id) %>
        <!-- <button class="button_4">Modify this Review</button> -->
        <%=link_to "Delete", my_book_review_path(review.my_book_id, review.id), method: :delete, data: {confirm: "Are you sure?"} %>

      <%end%>
    </ul>
  </div>


<a href="<%=new_my_book_lend_path(params[:id]) %>"><button class="button_4">Lend this book to a friend</button>

<a href="<%=new_my_book_quote_path(params[:id]) %>"><button class="button_4">Save a Quote!</button>
