
 <h1>Hello, <%= @user.f_name %> <%= @user.l_name%> </h1>

<div class="my_book_wrapper">
    <% @my_books.each do |result|%>
    <div class="my_book_showness">
        <h2>I am a book I own!</h2>
        <img src="<%= result.edition.image %>">
        <%= result.edition.title %>
        <%= result.edition.author %>
        <%= result.edition.edition %>
        <%= result.edition.genre %>
        <%= result.edition.numberOfPages %>
        <%= result.edition.publisher %>
        <button action="<%= @edition.url %>">Buy Me Again, I'm a delicious read for friends</button>
    </div>
    <%end%>

    <!-- <div class="review_box">
        <%# if @reviews.length != 0 %>
        <%# @reviews.each do |review| %>
        <%# review.review %>
        <% #end %>
    <% #end %>
    </div> -->



</div>
