<div class="prog_statement">
  <h2>Track your reading progress:</h2>
  <input type="text" id="user_page"> of <%= @my_book.edition.numberOfPages %> pages
</div>

<div class="reading_progress">
  <div class="progress_track">

    <progress id="progressbar" max="<%= @my_book.edition.numberOfPages%>" value="0">
    </progress>
  </div>

</div>

<div class="book_wrapper">
  <div class="book_cover">
    <img src="<%= @my_book.edition.image %>">
  </div>
  <div class="book_details">
    <h1><%= @my_book.edition.title %></h1></br>
    <h2>by <%= @my_book.edition.author %></h2></br>
    <h3><%= @my_book.edition.numberOfPages %> pages</h3></br>
    <h4><%= @my_book.edition.publisher %></h4></br>
    <h4><%= @my_book.edition.edition %></h4></br>
    <h4><%= @my_book.edition.genre %></h4></br>
    <a href="<%= @my_book.edition.url %>"><button class="button_5">Buy Me!</button></a>
  </div>
</div>

<div class="review_wrapper">
  <div class="create_review">
    <h1>What did you think?</h1>
    <% @review = Review.new%>
    <%= form_for [@my_book, @review] do |f| %>
      <% f.label :review %>
      <%= f.text_area :review, placeholder: "Best book ever, or never-read-again?\n Make your notes here!" %>
      <%= f.hidden_field :my_book_id, value: @my_book.id %>
      <div class="review_submit">
        <%= f.submit "Add Review"%>
      </div>
    <% end %>
  </div>

  <div class="review_content">
    <ul>
      <%@my_book.reviews.each do |review|%>
        <li><%=review.review %></li>
      <%end%>
    </ul>
  </div>
</div>

<!-- <a href="<%#=new_my_book_lend_path(params[:id]) %>"><button class="button_4">Lend this book to a friend</button> -->

<div class="quote_wrapper">
  <div class="create_quote">
    <h1>Favorite Quote?</h1>
    <% @quote = Quote.new%>
    <%= form_for [@my_book, @quote] do |f| %>
      <% f.label :quote %>
      <%= f.text_area :quote, placeholder: "What is the best line in the book?\n Make your notes here!" %>
      <%= f.hidden_field :my_book_id, value: @my_book.id %>
      <div class="quote_submit">
        <%= f.submit "Add Quote"%>
      </div>
    <% end %>
  </div>
  <div class="quote_content">
    <ul>
      <%@my_book.quotes.each do |quote|%>
        <li><%=quote.quote %></li>
      <%end%>
    </ul>
  </div>
</div>

<%= form_for [@my_book, @quote], html: { multipart: true } do |f| %>
  <!-- <%# if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <%# @quote.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %> -->

  <div class="field">
    <%= f.label :quote %><br>
    <%= f.text_field :quote %>
    <%= f.label :page %><br>
    <%= f.number_field :page %>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :my_book_id, value: @my_book.id %>
    <%= f.submit %>
  </div>
<% end %>
