<div class="new_convo_heading">
  <h2>Let's talk about...</h2>
  <h1><%=@book.title %></h1>
</div>

<div class="create_conversation">
  <% @conversation = Conversation.new%>
  <%= form_for [@book, @conversation] do |f| %>
    <p>What do you want to talk about?</p>
    <div class="convo_title">
      <% f.label :title %>
      <%= f.text_field :title, placeholder: "i.e. example..." %>
    </div>

    <p>Oh wow! Go on!</p>
    <div class="chat_body">
      <%= f.fields_for :chat do |chat| %>
        <% chat.label :content %>
        <%= chat.text_area :content, placeholder: "Oh really?" %>
      <% end %>
    </div>
    <%= f.hidden_field :book_id, value: @book.id %>
    <%= f.hidden_field :conversation_id, value: @conversation.id %>
    <%= f.hidden_field :chat_id, value: @chat.id%>
    <div class="new_convo_submit">
      <%= f.submit "Post your conversation!"%>
    </div>
  <% end %>
</div>
