<h1 class="conversation_title"><%= @conversation.title %></h1>

<div class="create_chat">
  <% @chat = Chat.new%>
  <%= form_for(@chat, :url => book_conversation_chats_path(@conversation.book_id, @conversation.id)) do |f| %>
    <div class="add_chat">
      <% f.label :content %>
      <%= f.text_area :content, placeholder: "Add to the conversation here!" %>
    </div>
    <div class="chat_submit">
      <%= f.submit "Submit"%>
    </div>
  <% end %>
</div>

<div class="chat_thread">
  <% @conversation.chats.each do |chat| %>
  <div class="chat">
    <ul>
        <!-- <li><%#=chat.username%></li> -->
        <li><%=emojify(chat.content)%></li>
        <% a = User.find(chat.user_id)%>
        <p><%= a.username %> <span class="timestamp"><%= time_ago_in_words(chat.created_at) %> ago</span></p>
        <%# if !user_signed_in? %>
            <%if chat.user_id == current_user.id %>
            <p class="edit_delete"><%=link_to "Edit", edit_book_conversation_chat_path(chat.conversation.book_id, chat.conversation_id, chat.id) %><span class="blue"> | </span><%=link_to "Delete", book_conversation_chat_path(chat.conversation_id, chat.id), method: :delete, data: {confirm: "Are you sure?"} %></p>
            <%end%>
        <%#end%>
    </ul>
  </div>
  <%end%>
</div>

 <a href="<%= book_path(params[:book_id]) %>"><button class="button_6">Go back to</br><%= @conversation.book.title %></button></a>
