<div class="book_wrapper">
        <div class="book_showness">
            <img src="<%= @edition.image %>">
            <%= @edition.title %>
            <%= @edition.author %>
            <%= @edition.edition %>
            <%= @edition.genre %>
            <%= @edition.numberOfPages %>
            <%= @edition.publisher %>
            <button action="<%= @edition.url %>">Buy Me I'm a delicious read</button>
        </div>
</div>

<% book = @edition.book_id %>
<%= link_to "Create a Conversation", new_book_conversation_path(book) %>



<div class="conversation_wrapper">
<%# @conversations.each do |result|%>
<div class="conversation_tile">
    <%#result.conversation.id%>
    <a href="chat_path"><%#= result.conversation.title %></a>
</div>
<%#end%>
</div>
