<div class="book_wrapper">
        <div class="book_showness">
            <img src="<%= @edition.image %>">
            <%= @edition.title %>
            <%= @edition.author %>
            <%= @edition.edition %>
            <%= @edition.genre %>
            <%= @edition.numberOfPages %>
            <%= @edition.publisher %>
            <button action="<%= @edition.url %>">Buy Me I'm a delicious read</button>
        </div>
</div>

<% book = @edition.book_id %>
<%= link_to "Create a Conversation", new_book_conversation_path(book) %>



start
<div class="conversation_wrapper">
    <% @edition.book.conversations.each do |conversation|%>
    <div class="conversation_tile">
        <%conversation.id%>
        <h1>hello</h1>
        <%= link_to conversation.title, book_conversation_path(conversation.book, conversation) %>
<%end%>
</div>
