<h1>Well Read</h1>

<h2> Sign Up, Its funa nd easy</h2>

    <div class="Login">
        <%= form_for User.new do |f| %>
    	 <label><%= f.label :f_name %></label><%= f.text_field :f_name %>
     <br />
     <br />
    	  <label><%= f.label :l_name %></label><%= f.text_field :l_name %>
      <br />
      <br />
            <label><%= f.label :username %></label><%= f.text_field :username %>
     <br />
     <br />
    		<label><%= f.label :email %></label><%= f.email_field :email %>
    	<br />
    	<br />
    		<label><%= f.label :password %></label><%= f.password_field :password %>
    	<br />
    	<br />
    		<label><%= f.label :password_confirmation %></label><%= f.password_field :password_confirmation %>
    		<br />
    		<br />
    		<div class="actions"><%= f.submit "Create Account"%></div>
    		<% end %>
    </div>
