<h1 class="brand">wellRead</h1>

<div class="login_form">
  <h2> Sign up, it's fun & easy!</h2>

  <%= form_for User.new do |f| %>
  <% f.label "First Name" %><%= f.text_field :f_name, placeholder: "First Name" %><br/>
  <% f.label "Last Name" %><%= f.text_field :l_name, placeholder: "Last Name" %><br/>
  <% f.label "Username" %><%= f.text_field :username, placeholder: "Username" %><br/>
  <% f.label "Email" %><%= f.email_field :email, placeholder: "Email" %><br/>
  <% f.label "Password" %><%= f.password_field :password, placeholder: "Password" %><br/>
  <% f.label "Confirm Password" %><%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br/>
    <div class="form_submit"><%f.label "Submit"%><span class="black"><%= f.submit "Create Account"%></span></div>
  <% end %>
</div>
