<div class="user_greeting">
  <h1>Hello, <%= @user.f_name %>!</h1>
</div>

<div class="bookcount">
  <% a = MyBook.where(user_id: @user.id) %>
  <% b = a.count %>
  <% if b == 0 %>
    <p>Oh no! It looks like you don't have any books in your library!</p>
  <% elsif b == 1 %>
    <p>You have <b><%= b %></b> book in your library.</p>
  <% elsif %>
    <p>You have <b><%= b %></b> books in your library.</p>
  <% end %>
  <p>Search below and add as many as you'd like!</p>
</div>

<a href="<%= books_path %>"><button class="button_1">Book Search</button></a>

<a href="<%= library_path %>"><button class="button_1">My Library</button></a>

<a href="<%= user_borrows_path(params[:id]) %>"><button class="button_1">Lent Books</button></a>

<div class="modify_user_form">
  <h4>Update your information</h4>
    <%= form_for @user do |f| %>
      <div class="modify_input_wrapper">
        <p>First Name: <% f.label "First Name" %><%= f.text_field :f_name %></p>
      </div>
      <div class="modify_input_wrapper">
        <p>Last Name: <% f.label "Last Name" %><%= f.text_field :l_name %></p>
      </div>
      <div class="modify_input_wrapper">
        <p>Username: <% f.label "Username" %><%= f.text_field :username %></p>
      </div>
      <div class="modify_input_wrapper">
        <p>Email: <% f.label "Email" %><%= f.email_field :email %></p>
      </div>
      <div class="modify_user_form_submit">
        <%= f.submit "Update" %>
      </div>
    <% end %>
</div>
