<!DOCTYPE html>
<html>
  <head>
    <title>WellRead</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Fredericka+the+Great|Homemade+Apple|Josefin+Slab|Permanent+Marker|Raleway|Reenie+Beanie|Rock+Salt" rel="stylesheet">

  </head>
  <body>
    <header>
        <div class="login">
          <% if current_user %>
          <%= link_to current_user.username, user_path(current_user.id) %> | <%= link_to "Log Out", "#{sessions_path}/#{current_user.id}", method: :delete %>
          <%end%>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
