<!DOCTYPE html>
<html>
  <head>
    <title>WellRead</title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Over+the+Rainbow|Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />

  </head>
  <body>
    <header>
      <% if current_user %>
      <span class="session"><%= link_to current_user.username, user_path(current_user.id) %> | <%= link_to "Log Out", "#{sessions_path}/#{current_user.id}", method: :delete %></span>
      <%end%>
      <span class="back"><%= link_to '<<<', 'javascript:history.go(-1);' %></span>
    </header>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
