<h1 class="highlight_title">Highlight your quote below!</h1>

<div class="quote_show" style="overflow:hidden;">
  <div id="quote_image" style="background-image: url(<%= @quote.image %>);">
    <canvas id="highlight">
    </canvas>
  </div>
</div>
<%= form_for [@my_book, @quote], :html => {:id => "highlight_form"} do |f| %>
  <%= f.hidden_field :id, value: @quote.id %>
  <%= f.hidden_field :my_book_id, value: @my_book.id %>
  <%= f.hidden_field :highlight, value: "" %>
  <div class="save_highlight">
    <%= f.submit "Save!" %>
  </div>
<% end %>
