
<% @results.each do |result| %>
    <div class="book_tile">
        <img src='<%= result.image %>'>
        <%= result.title %>
    </div>
        <!-- form for show page We want to have this save to Book.new when they submit -->
        <!-- then redirect to that book show page -->
    <%= form_tag('booksearch', method: "post") do %>
        <%= hidden_field_tag(:title, result.title)%>
        <%= hidden_field_tag(:author, result.author)%>
        <%= hidden_field_tag(:edition, result.edition)%>
        <%= hidden_field_tag(:genre, result.genre)%>
        <%= hidden_field_tag(:numberOfPages, result.numberOfPages)%>
        <%= hidden_field_tag(:publicationDate, result.publicationDate)%>
        <%= hidden_field_tag(:publisher, result.publisher)%>
        <%= hidden_field_tag(:url, result.url)%>
        <%= hidden_field_tag(:image, result.image)%>
        <%= submit_tag("Show Me More")  %>
    <% end %>

    <!-- form for My Books we want this to loop through Books-->
    <!-- If it exists then we want it to take the book info and populate my Books
    If it doesnt exist then we want it to create a book.new and then populate mybooks
    then redirect to the mybooks show page -->
    <%= form_tag('my_booksearch', method: "post")  do %>
        <%= hidden_field_tag(:title, result.title)%>
        <%= hidden_field_tag(:author, result.author)%>
        <%= hidden_field_tag(:edition, result.edition)%>
        <%= hidden_field_tag(:genre, result.genre)%>
        <%= hidden_field_tag(:numberOfPages, result.numberOfPages)%>
        <%= hidden_field_tag(:publicationDate, result.publicationDate)%>
        <%= hidden_field_tag(:publisher, result.publisher)%>
        <%= hidden_field_tag(:url, result.url)%>
        <%= hidden_field_tag(:image, result.image)%>
        <%= submit_tag("Add to My Books") %>
    <% end %>
<% end %>
