<div class="book_wrapper">
  <div class="book_cover">
    <img src="<%= @edition.image %>">
  </div>
  <div class="book_details">
    <h1><%= @edition.title %></h1></br>
    <h2>by <%= @edition.author %></h2></br>
    <h3><%= @edition.numberOfPages %> pages</h3></br>
    <h4><%= @edition.publisher %></h4></br>
    <h4><%= @edition.edition %></h4></br>
    <h4><%= @edition.genre %></h4></br>
    <a href="<%= @edition.url %>"><button class="button_5">Buy Me!</button></a>
  </div>
</div>

<h2>Average Rating by WellRead Users</h2>
<div id="average-rating" data-score="<%= @average_rating %>"></div>
<span>Based on <%= @book.ratings.count %> Reviews </span>

<script>
    (function() {
        $('#average-rating').raty({
            readOnly:true,
            score: function(){
                return $(this).attr('data-score');
            },
            path: '/assets/'
        });
    });
</script>

<div class="conversation_wrapper">
  <div class="start_conversation">
    <% book = @edition.book_id %>
    <a href="<%=new_book_conversation_path(book) %>"><button class="button_4">Start a Conversation about <%= @edition.title %>!</button>
  </div>

  <div class="active_conversations">
    <h5>Or join a conversation below!</h5>
    <ul>
      <% @edition.book.conversations.each do |conversation|%>
      <div class="conversation_tile">
          <%conversation.id%>
          <li><%= link_to conversation.title, book_conversation_path(conversation.book, conversation) %></li>
      <%end%>
      </div>
    </ul>

  </div>
</div>
