<div class="create_lend">
  <h1>Who are you lending <%=@my_book.edition.title%> to?</h1>
  <%= form_tag [@my_book, @lend] do %>
    <% label_tag :friend %>
    <%= text_field_tag :friend, nil, :placeholder => "Enter the lucky friend's name here!"%>
    <%= hidden_field :my_book_id, value: @my_book.id %>
    <div class="lend_submit">
      <%= submit_tag "Lend it"%>
    </div>
  <% end %>
</div>
