<div class="book_pile">

    <%@my_books.each do |book| %>
    <%book_pile_look=["book_style1", "book_style2", "book_style3", "book_style4"]%>
       <div class="horizontal_book <%=book_pile_look.sample %>">
        <% edition = Edition.find(book.edition_id) %>
        <%=link_to edition.title, my_book_path(book) %>
        <%#= edition.title %>
    </div>
    <%end%>
</div>

<nav class="library_nav">
  <a href="<%= user_path %>"><button class="button_2">My Profile</button></a>
  <a href="<%= books_path %>"><button class="button_2">Booksearch</button></a>
  <a href="<%= my_books_path %>"><button class="button_2">Booklist</button></a>
  <a href="<%= new_user_borrow_path(@user.id) %>"><button class="button_2">Borrow</button></a>
</nav>
